includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - ./app
        - ./database
        - ./tests
        - ./routes/api.php
    level: 9
    excludePaths:
        - ./app/Providers/RouteServiceProvider.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#^Access to an undefined property App\\Models\\(\w*)\|static\(App\\Http\\Resources\\(\w*)\)\:\:\$(\w*)#'
        - '#^Call to an undefined method App\\Models\\(\w*)\|static\(App\\Http\\Resources\\(\w*)\)\:\:(\w*)#'
        - '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:(\w*)#'
